@CHARSET "EUC-KR";

#estimate_home {
	width: 1200px;
	height: 650px;
	background-color: #c3c3c3;
	pading: 0px;
}

#estimate_title {
	width: 300px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-family: °íµñ;
	font-size: 35px;
	background-color: gray;
	
}

/* .estimate {
	width: 525px;
	height: 525px;
	margin-top: 25px;
	margin-left: 50px;
	background-color: white;
	float: left;
} */

#estimate_product {
	width: 1100px;
	height: 275px;
	background-color: white;
}

#estimate_prodect_list {
	width: 1100px;
	height: 230px;
	/* overflow: auto; */
}

#estimate_prodect_btn {
	width: 1100px;
	height: 45px;
}

#estimate_prodect_btn input {
	width: 70px;
	height: 37px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 15px;
	float: right;
}

#estimate_select {
	width: 1100px;
	height: 275px;
	margin-top: 20px;
	background-color: white;
/* 	overflow: auto; */
}