@CHARSET "EUC-KR";

#body {
	padding: 0px;
	margin: 0px;
}

#header_div {
	width: 100%;
	height: 135px;
	background-color: black;
}

#header_logo {
	margin-top: 10px;
}

#header_div2 {
	width: 100%;
	height: 40px;
	background-color: #00ABDF;
	margin: 0 auto;
}

.menu {
	float:right; 
/* 	text-align:center;  */
	/* margin: 7px auto; */
	margin-top: 9px;
}

.menu li {
	list-style: none;
	display:inline-block;
	font-family: 고딕;
	font-size:16px;
/* 	text-align:center;  */
	margin-right: 20px;
	margin-bottom: 5px;
	float: left;
}

.menu a{
	text-decoration: none;
	padding:14px 16px;
	color: white;
	font-weight: bold;
	font-family: 맑은 고딕;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}

.menu a:HOVER{
	color: black;
}

.dropdown{
		background: black;
		position: absolute;
		min-width: 160px;
		/* box-shadow: 0 8px 15px #CCC; */
		display: none;
		float: left;
		opacity: .8;
	}
	
.logindropdown{
		left: 55%;
		background: #f9f9f9;
		position: absolute;
		min-width: 300px;
		/* box-shadow: 0 8px 15px #CCC; */
		display: none;
		float: left;
	}
#loginBtn{
	width:70px;
	height: 70px;
	display: inline-block;
}
.dropdown a{
		display: block;
		color: white;
	}
	
.dropdown a:HOVER {
	background: black;
	color: #00ABDF;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	}

#estimate:HOVER .dropdown {
		display: block;
	}

#login:HOVER .logindropdown {
		display: block;
	}
	
#home_div {
	width: 100%;
	height: 790px;
	background-color: #c3c3c3;
}

#home_img {
	margin: 0px;
	width: 79%;
}

#bottom_div {
	width: 100%;
	height: 70px;
	background-color: yellow;
}